<div class="row" >
     <div class="col-md-12 col-md-offset-3">
          <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="key" name="srch-term" id="srch-term" placeholder="username  /  firstname  /  email">
                      <div class="input-group-btn">
                          <button class="btn btn-warning" type="submit" ng-click="search(key)">
                            <i class="fa fa-search"></i>{{message}}
                          </button>

                         
                      </div>
                </div>
          </div>
      </div>
</div>


  <div class="row">
    <div class="col-md-12">
        <span></span>
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>On Reset,Password Will Be The Username Of Student</h4>
                </div>
                <div class="panel-body">
                  <table class="table ">
                     <thead>
                        <tr>
                           <td>
                             User Name
                           </td>
                           <td>
                            Uauth Username
                          </td>
                           <td>
                             Student Name
                           </td>
                           <td>
                              University
                           </td>
                           <td>
                             Email
                           </td>
                           
                           <td>
                             At uAuth
                           </td>
                           <td>
                             Send link
                           </td>
                        </tr>
                     </thead>
                     <tbody>
                       <tr ng-repeat="student in students">

                          <td>
                            {{student.username}}
                          </td>
                          <td>
                            {{student.uauth_username}}
                          </td>
                          <td>
                            {{student.firstname}} {{student.middlename}} {{student.lastname}}
                          </td>
                          <td>
                            {{student.user_parent}}
                          </td>
                          
                          <td>
                            {{student.email}}
                          </td>
                          
                          <td>
                            {{student.at_uauth}}
                          </td>
                          <td>
                            
                            <button type="button" class="btn btn-default" name="button" 
                                    ng-if="student.at_uauth=='No'" 
                                    ng-click="reset(student.id)">
                                      Set
                            </button>
                            
                            <span ng-if="student.at_uauth=='Yes'">
                                <span class="fa fa-check-circle fa-2x text-success"></span>
                                
                            </span>

                          </td>
                       </tr>

                     </tbody>
                  </table>

                </div>
            </div>

        </div>
    </div>
</div>
